<nav>
    <ul>
        <li>
            <a href="{{ site.site_url }}">Home</a>
        </li>
        <li>
            <a href="{{ site.site_url }}/reference">Core Rules</a>
        </li>
        <li>
            <a href="{{ site.site_url }}/tag/characters">Characters</a>
        </li>
        <li>
            <a href="{{ site.site_url }}/tag/setting">Setting</a>
        </li>
    </ul>
</nav>