<div class="post-summary">
    <div class="post-summary__image">
        {% set featuredImageAlt = post.data.featuredImageAlt %}
        {% set featuredImage = post.data.featuredImage %}
        {% set featuredImageCaption = post.data.featuredImageCaption %}
        {% set featuredImageCredit = post.data.featuredImageCredit %}
        {% set featuredImageLink = post.data.featuredImageLink %}
        {% include "partials/post-image.njk" %}
    </div>
    {% if post.data.title %}
    <h3>
        <a href="{{site.site_url}}{{ post.url }}">{{post.data.title | safe}}</a>
    </h3>
    <p>
        {{- post.data.description | safe }}
    </p>
    {% else %}
        {{- post.data.content | safe | dndSummary}}
    {% endif %}
    <p>
        <a class="read-more-link" href="{{site.site_url}}{{ post.url }}">Read more...</a>
    </p>
</div>